
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" name="og:image" content="https://telegra.ph/file/e97fc6d0e6e196515f152.jpg">
    <meta property="og:description" content="Rest Api For Developer">
    <title>Pricing</title>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://telegra.ph/file/e97fc6d0e6e196515f152.jpg">
    <link rel="icon" type="image/png" sizes="192x192" href="https://telegra.ph/file/e97fc6d0e6e196515f152.jpg">
    <meta property="og:image" name="og:image" content="https://telegra.ph/file/e97fc6d0e6e196515f152.jpg">
    <meta name="theme-color" content="#ffffff">
<link href="https://indrijunanda.github.io/RuangAdmin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://indrijunanda.github.io/RuangAdmin/css/ruang-admin.min.css" rel="stylesheet">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://leyscoders-api.herokuapp.com/bayar/style.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <span></span>
            <div class="content">
                <h2>Metode Pembayaran</h2>
                <p>NOMOR : 0895340972894<br>ღ Gopay : Tf Sesuai Harga<br>ღ Dana : Tf Sesuai Harga<br>Qris All Payment : Chat Nomor Dibawah</p>
                <a href="https://wa.me/62895340972894">Chat Me</a>
            </div>
        </div>
    </div>
</body>
</html>
