
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Rest Api For Developer.">
    <meta name="robots" content="archive, follow, imageindex, index, odp, snippet, translate">
    <meta name="author" content="Putu Arya">
    <title>MAIL WEB</title>
    <meta property="og:site_name" name="og:site_name" content="MAIL API">
    <meta property="og:title" name="og:title" content="MAIL WEB">
    <meta property="og:url" name="og:url" content="https://raku-web.herokuapp.com">
    <meta property="og:image" name="og:image" content="https://telegra.ph/file/e97fc6d0e6e196515f152.jpg">
    <meta property="og:description" name="og:description" content="Rest Api For Developer.">
    <link rel="apple-touch-icon" sizes="180x180" href="https://telegra.ph/file/e97fc6d0e6e196515f152.jpg">
    <link rel="shortcut icon" type="image/x-icon" href="https://telegra.ph/file/e97fc6d0e6e196515f152.jpg">
    <link rel="icon" type="image/png" sizes="192x192" href="https://telegra.ph/file/e97fc6d0e6e196515f152.jpg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://telegra.ph/file/e97fc6d0e6e196515f152.jpg">
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="https://maill-api.herokuapp.com">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link rel="stylesheet" href="https://leyscoders-api.herokuapp.com/assets/css/nucleo-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://leyscoders-api.herokuapp.com/assets/css/uicons-regular-rounded.css">
    <link rel="stylesheet" href="https://leyscoders-api.herokuapp.com/assets/css/black-background.css">
    <link rel="stylesheet" href="https://leyscoders-api.herokuapp.com/assets/css/style.css">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
      p {
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
        
      }
    </style>
</head>

<body class="dark-mode" data-background-color="dark">
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar-wrapper card-round">
                <div class="logo text-center">
                    <a href="/" class="simple-text logo-normal" style="font-size: large;">
                        MAIL WEB
                    </a>
                </div>
                <ul class="nav">
                  <li>
                    <a class="nav-link" href="/">
                      <i class="fas fa-fw fa-code"></i>
                      <p>Beranda</p>
                    </a>
                  </li>
                  <li>
                    <a class="nav-link" href="/home">
                      <i class="fa fa-dashboard"></i>
                      <p>Dashboard</p>
                    </a>
                  </li>
                  <li>
                    <a class="nav-link" href="/game">
                      <i class="fa fa-gamepad"></i>
                      <p>Games</p>
                    </a>
                  </li>
                  <li>
                    <a class="nav-link" href="/sosial">
                      <i class="fa fa-share"></i>
                      <p>Media Sosial</p>
                    </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
          <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-toggle d-inline">
                        <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>
                    <a class="navbar-brand" href="#">Pricing</a>
                </div>
                <div class="collapse navbar-collapse" id="navigation">
                </div>
            </div>
        </nav>
            <div class="content">
                
<div class="row justify-content-center align-items-center">
    <div class="col-md-3 pl-md-0">
        <div class="card card-pricing card-round">
            <div class="card-header">
                <h4 class="card-title">Trial</h4>
                <div class="card-price">
                    <span class="price">Rp. 5K</span>
                </div>
            </div>
            <div class="card-body">
                <ul class="specification-list">
                    <li>
                        <span class="name-specification">Requests</span>
                        <span class="status-specification">Unlimited</span>
                    </li>
                    <li>
                        <span class="name-specification">Custom Api</span>
                        <span class="status-specification">No</span>
                    </li>
                    <li>
                        <span class="name-specification">Expired</span>
                        <span class="status-specification">7 Days</span>
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary btn-round text-white" href="/order">Buy Now</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 pl-md-0">
        <div class="card card-pricing card-round">
            <div class="card-header">
                <h4 class="card-title">Normal</h4>
                <div class="card-price">
                    <span class="price">Rp. 10K</span>
                </div>
            </div>
            <div class="card-body">
                <ul class="specification-list">
                    <li>
                        <span class="name-specification">Requests</span>
                        <span class="status-specification">Unlimited</span>
                    </li>
                    <li>
                        <span class="name-specification">Custom Api</span>
                        <span class="status-specification">No</span>
                    </li>
                    <li>
                        <span class="name-specification">Expired</span>
                        <span class="status-specification">1 Month</span>
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <a class="btn btn btn-success btn-round text-white" href="/order">Buy Now</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 pl-md-0 pr-md-0">
        <div class="card card-pricing card-pricing-focus card-secondary card-round">
            <div class="card-header">
                <h4 class="card-title">Premium</h4>
                <div class="card-price">
                    <span class="price">Rp. 20K</span>
                </div>
            </div>
            <div class="card-body">
                <ul class="specification-list">
                    <li>
                        <span class="name-specification">Requests</span>
                        <span class="status-specification">Unlimited</span>
                    </li>
                    <li>
                        <span class="name-specification">Custom Api</span>
                        <span class="status-specification">No</span>
                    </li>
                    <li>
                        <span class="name-specification">Expired</span>
                        <span class="status-specification">2 Month</span>
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <a class="btn btn btn-primary btn-round text-white" href="/order">Buy Now</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 pr-md-0">
        <div class="card card-pricing card-round">
            <div class="card-header">
                <h4 class="card-title">Limited</h4>
                <div class="card-price">
                    <span class="price">Rp. 50K</span>
                </div>
            </div>
            <div class="card-body">
                <ul class="specification-list">
                    <li>
                        <span class="name-specification">Requests</span>
                        <span class="status-specification">Unlimited</span>
                    </li>
                    <li>
                        <span class="name-specification">Custom Api</span>
                        <span class="status-specification">Yes</span>
                    </li>
                    <li>
                        <span class="name-specification">Expired</span>
                        <span class="status-specification">Unlimited</span>
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <a class="btn btn btn-primary btn-round text-white" href="/order">Buy Now</a>
            </div>
        </div>
    </div>
</div>

            </div>
            <footer class="footer">
              <div class="container-fluid">
                <div class="copyright float-right">
                 @2021, Made With By <i class="fa fa-heart"></i> by
                  <a href="https://wa.me/62895340972894" target="_blank">Arya</a>
                </div>
              </div>
            </footer>
        </div>
    </div>

  <script src="https://leyscoders-api.herokuapp.com/assets/js/core/jquery.min.js"></script>
  <script src="https://leyscoders-api.herokuapp.com/assets/js/core/popper.min.js"></script>
  <script src="https://leyscoders-api.herokuapp.com/assets/js/core/bootstrap-material-design.min.js"></script>
  <script src="https://unpkg.com/default-passive-events"></script>
  <script src="https://leyscoders-api.herokuapp.com/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBd3PjUqq81lIOfBPYXrQGWwK5T4ystZjA"></script>
  <!-- Chartist JS -->
  <script src="https://leyscoders-api.herokuapp.com/assets/js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="https://leyscoders-api.herokuapp.com/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="https://leyscoders-api.herokuapp.com/assets/js/material-dashboard.min.js?v=2.1.0"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="https://leyscoders-api.herokuapp.com/assets/demo/demo.js"></script>
</body>

</html>
