<!DOCTYPE HTML>
<html>
	<head>
		<title>Mail | Personal Website</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="http://caliph91.vercel.app/css/ie/html5shiv.js"></script><![endif]-->
		<script src="http://caliph91.vercel.app/js/skel.min.js"></script>
		<script src="http://caliph91.vercel.app/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="http://caliph91.vercel.app/css/skel.css" />
			<link rel="stylesheet" href="http://caliph91.vercel.app/css/style.css" />
			<link rel="stylesheet" href="http://caliph91.vercel.app/css/style-wide.css" />
			<link rel="stylesheet" href="http://caliph91.vercel.app/css/style-noscript.css" />
		</noscript>
		<!--[if lte IE 9]><link rel="stylesheet" href="http://caliph91.vercel.app/css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="http://caliph91.vercel.app/css/ie/v8.css" /><![endif]-->
	</head>
	<body class="loading">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>I Putu Arya Dewangga Mahesagita</h1>
						<p>Sosial Media</p>
						<nav>
							<ul>
								<li><a href="//wa.me/66895340972894" class="icon fa-whatsapp"><span class="label">WhatsApp</span></a></li>
								<li><a href="//github.com/MAILBOTZ" class="icon fa-github"><span class="label">Github</span></a></li>
								<li><a href="putuarya2785@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
							</ul>
						</nav>
					</header>

				<!-- Footer -->
					<footer id="footer">
						<span class="copyright">&copy; 2021. <a href="https://youtube.com/c/ZEROBOT7"><b>Arya</b></a> All Rights Reserved.</a>.</span>
					</footer>
				
			</div>
		</div>
	</body>
</html>
